:root{
  --custom-font : "poppins"
}

@font-face {
  font-family: "poppins" ;
  src: url("../src/font/Poppins-Regular.ttf");
}

* {
  font-family: var(--custom-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
